@charset "UTF-8";

@font-face {
  font-family: "t2gicons-business";
  src:url("../fonts/mquHh5UibGuP.eot");
  src:url("../fonts/mquHh5UibGuP.eot#iefix") format("embedded-opentype"),
    url("../fonts/dy9RCYN1dNcN.woff") format("woff"),
    url("../fonts/nkG7zkXKGC8s.ttf") format("truetype"),
    url("../fonts/vy94FVBAC2x3.svg#t2gicons-business") format("svg");
  font-weight: normal;
  font-style: normal;

}
[class^="t2gicon-business-"]:before,
[class*=" t2gicon-business-"]:before {
  font-family: "t2gicons-business" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t2gicon-business-achievement:before {
  content: "\61";
}
.t2gicon-business-agreement:before {
  content: "\62";
}
.t2gicon-business-chat:before {
  content: "\63";
}
.t2gicon-business-conference:before {
  content: "\64";
}
.t2gicon-business-distance:before {
  content: "\65";
}
.t2gicon-business-group:before {
  content: "\66";
}
.t2gicon-business-man:before {
  content: "\67";
}
.t2gicon-business-man-arrows:before {
  content: "\68";
}
.t2gicon-business-meeting:before {
  content: "\69";
}
.t2gicon-business-meeting-2:before {
  content: "\6a";
}
.t2gicon-business-meeting-3:before {
  content: "\6b";
}
.t2gicon-business-organogram:before {
  content: "\6c";
}
.t2gicon-business-people:before {
  content: "\6d";
}
.t2gicon-business-presentation:before {
  content: "\6e";
}
.t2gicon-business-support:before {
  content: "\6f";
}
.t2gicon-business-talk:before {
  content: "\70";
}
.t2gicon-business-team:before {
  content: "\71";
}
.t2gicon-business-team-2:before {
  content: "\72";
}
.t2gicon-business-winner:before {
  content: "\73";
}
.t2gicon-business-work:before {
  content: "\74";
}
.t2gicon-business-performance-arrow-top:before {
  content: "\75";
}
.t2gicon-business-performance-arrow-up:before {
  content: "\76";
}
.t2gicon-business-performance-arrows-top:before {
  content: "\77";
}
.t2gicon-business-performance-blaster:before {
  content: "\78";
}
.t2gicon-business-performance-brain:before {
  content: "\79";
}
.t2gicon-business-performance-cloud:before {
  content: "\7a";
}
.t2gicon-business-performance-energy:before {
  content: "\41";
}
.t2gicon-business-performance-fist:before {
  content: "\42";
}
.t2gicon-business-performance-flash:before {
  content: "\43";
}
.t2gicon-business-performance-graph:before {
  content: "\44";
}
.t2gicon-business-performance-horse:before {
  content: "\45";
}
.t2gicon-business-performance-indicator-1:before {
  content: "\46";
}
.t2gicon-business-performance-indicator-2:before {
  content: "\47";
}
.t2gicon-business-performance-indicator-3:before {
  content: "\48";
}
.t2gicon-business-performance-indicator-4:before {
  content: "\49";
}
.t2gicon-business-performance-indicator-5:before {
  content: "\4a";
}
.t2gicon-business-performance-muscle:before {
  content: "\4b";
}
.t2gicon-business-performance-runner:before {
  content: "\4c";
}
.t2gicon-business-performance-shoe:before {
  content: "\4d";
}
.t2gicon-business-performance-stopwatch:before {
  content: "\4e";
}
